@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(84, 32, 110);
}

::-webkit-scrollbar-thumb {
    background: #9000ff;
}

::-webkit-scrollbar-thumb:hover {
    background: #a600ff;
}

html {
    min-height: 100vh;
}

body {
    background-image: linear-gradient(rgba(36,37,34,0.9),rgba(36,37,34,0.9)), url('images/grid.png');
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background:#46354e;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: 100;
    box-shadow: 0px 0px 30px;
}

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
}

.logobar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0.28;
}

.discordpfp {
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50rem;
    border: darkorchid;
    border-style: solid;
    border-width: 0.2rem;
}

.pfp {
    position: relative;
    width: 50px;
    height: 50px;
}

.navbara {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: lighter;
    text-decoration: none;
    margin-left: 3vw;
    transition: .3s;
}

.navbara:hover {
    color: darkorchid;
}

.navbara::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbara:hover::before {
    width: 100%;
    left: 0;
    background: darkorchid;
}

.ld-bg {
    position: relative;
    display: inline-flex;
    background-color: #6b497a;
    width: 125%;
    border-radius: 10%;
    transition: .3s;
}

.ld-flag {
    margin-left: 10%;
}

.ld-bg p {
    color: white;
}

.ld-bg:hover {
    background-color: darkorchid;
}

.lang-dropdown {
    border-radius: 30%;
    display: inline-block;
    align-self: center;
    position: relative;
    margin-left: 3vw;
    vertical-align: middle;
}

.lang-options {
    background-color: #5a4264;
    border-radius: 10%;
    display: none;
    position: absolute;
    width: 125%;
    overflow: auto;
}

.lang-option {
    display:inline-flex;
    color: white;
    transition: .3s;
    margin-top: 0.5vw;
}

.lang-option:hover {
    color: darkorchid;
}

.lang-dropdown:hover .lang-options {
    display: block;
}

.button-icon {
    width: 28px;
    height: 28px;
}

@media screen and (min-width: 640px) {
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 40px 25px;
        background:#46354e;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        z-index: 100;
        box-shadow: 0 0 30px;
    }
    .logo {
        font-size: 40px;
        color: #fff;
        text-decoration: none;
        font-weight: bolder;
        text-wrap: nowrap;
        margin-left: 15px;
        margin-bottom: 10px;
    }
    .logobar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .discordpfp {
        overflow: hidden;
        width: 100px;
        height: 100px;
        border-radius: 45px;
        border: 0.2rem solid darkorchid;
    }
    .pfp {
        position: relative;
        width: 100px;
        height: 100px;
    }
    .navbar {
        margin-right: 25px;
    }
    .navbara {
        position: relative;
        font-size: 30px;
        color: #fff;
        font-weight: lighter;
        text-decoration: none;
        margin-left: 20px;
        transition: .3s;
    }
    .ld-bg p, .lang-option p {
        font-size: 30px;
    }
    .ld-flag {
        margin-left: 8%;
        margin-top: 5%;
        width: auto;
        height: 30px;
    }
}

.placeholder {
    display: none;
}

.name {
    position: absolute;
    top: 45%;
    left: 10%;
    color: #fff;
    font-size: 44px;
}

.aka {
    color: rgb(94, 94, 94);
    font-size: 22px;
    font-style: italic;
}

.desc {
    position: absolute;
    top: 55%;
    left: 10%;
    color: #fff;
    font-size: 44px;
    font-size: 28px;
    font-weight: lighter;
}

.socials {
    position: absolute;
    top: 62%;
    left: 9.2%;
}

.button {
    background-color: #525050;
    border-radius: 50%;
    padding: 10px;
    display: inline-flex;
    margin-left: 10px;
    transition: 0.3s;
}

.button:hover {
    background-color: #949191;
    border-radius: 30%;
}

#about-me {
    position: absolute;
    top: 110%;
    text-align: center;
    display: block;
    width: 100%;
    color: white;
    font-size: 44px;
}

#devlang {
    position: absolute;
    top: 125%;
    text-align: center;
    display: block;
    width: 100%;
    color: white;
    font-size: 28px;
    font-weight: lighter;
}

.langs {
    position: absolute;
    top: 132%;
    text-align: center;
    display: block;
    width: 100%;
}

.langs-2 {
    position: absolute;
    top: 141%;
    text-align: center;
    display: block;
    width: 100%;
}

#tools {
    position: absolute;
    top: 155%;
    text-align: center;
    display: block;
    width: 100%;
    color: white;
    font-size: 28px;
    font-weight: lighter;
}

.tools {
    position: absolute;
    top: 162%;
    text-align: center;
    display: block;
    width: 100%;
}

.tools2 {
    position: absolute;
    top: 171%;
    text-align: center;
    display: block;
    width: 100%;
}

.rounded-corners {
    border-radius: 0.375rem;
}

#projects {
    position: absolute;
    top: 223%;
    text-align: center;
    display: block;
    width: 100%;
    color: white;
    font-size: 44px;
}

#projs {
    position: absolute;
    top: 233%;
    text-align: center;
    display: block;
    width: 100%;
    color: white;
    font-size: 28px;
    font-weight: lighter;
}

.holderp {
    position: absolute;
    top: 244%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.projholder {
    position: relative;
    width: 430px;
    height: 240px;
    overflow: hidden;
    text-overflow: clip;
    border-radius: 2vw;
    transition: 0.3s;
    text-align: center;
    box-shadow: 0px 5px 5px black;
}

.projimg {
    width: 100%;
    transition: 0.3s;
}

.projinfo {
    display: none;
}

.projimg:hover + .projinfo {
    display: block;
}

.projimg:hover {
    filter:brightness(25%)
}

.projtitle {
    top: 5%;
    width: 100%;
    position: absolute;
    color: #fff;
    text-align: center;
    pointer-events: none;
}

.projdesc {
    top: 35%;
    left: 12.5%;
    width: 75%;
    position: absolute;
    text-align: center;
    color: #fff;
    font-size: 16px;
    pointer-events: none;
}

.e {
    position: absolute;
    top: 330%;
    color: rgba(0, 0, 0, 0.0000001);
}