@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

.bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-image: linear-gradient(rgba(36,37,34,0.9),rgba(36,37,34,0.9)), url('images/grid.png');
    overflow: hidden;
}

#grid {
    position: absolute;
    width: 150px;
    height: 150px;
    z-index: 0;
    background: url('images/grid.png');
    background-attachment: fixed;
    border-radius: 50%;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
    box-shadow: 0px 0px 20px;
}

body {
    min-height: 100vh;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background:#46354e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: lighter;
    text-decoration: none;
    margin-left: 40px;
    transition: .3s;
}

.navbar a:hover {
    color: darkorchid;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
    left: 0;
    background: darkorchid;
}

.name {
    position: absolute;
    top: 30%;
    left: 10%;
    color: #fff;
    font-size: 44px;
}

.aka {
    color: rgb(94, 94, 94);
    font-size: 22px;
    font-style: italic;
}

#desc {
    font-size: 28px;
    font-weight: lighter;
    top: 40%;
}

.hsocials {
    position: fixed;
    top: 50%;
    left: 5.05%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.socials a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: lighter;
    text-decoration: none;
    margin-left: 65px;
    transition: .3s;
}

.button {
    position: fixed;
    background-color: #525050;
    border: none;
    color: white;
    padding: 25px;
    font-size: 16px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    transition: 0.3s;
}

.button:hover {
    background-color: #949191;
    border-radius: 30%;
}